.chapter1 {
  .scene1 {
    background-image: url(../../assets/img/menu_chapter1.jpg); 
  }
  .scene2 {
    background-color: #191919;
    &--center {
      position: absolute;
      left: 50%;
      top: 15%;
      transform: translate(-50%, 0%);
      height: 70%;
      &--svg {
        height: 100%;
        width: auto;
      }
    }
  }
  .scene3 {
    background-color: green;
  }
  .scene4 {
    background-color: purple;
  }
  .scene5 {
    background-color: blue;
  }
}
