.chapter2 {
  .player--video--title{
    color:$white;
  }
  .scene1 {
    background-image: url("../../assets/img/chapter2_full.jpg");
  }
  /*** screen 2 ***/
  .scene2 {
    background-color: #191919;
    background-image: url("../../assets/img/chapter1_slide_4.jpg");
    background-position: center;
    background-size: cover;

    img {
      position: absolute;
      right: 170px;
      bottom: 60px;
      width: 500px;
      z-index: 110;
    }
  }

  .scene3 {
    video.video{
      width:100vw;
    }
    .card {
      transform: scaleX(0);
      transition: transform ease-in-out 0.35s;
      transform-origin: left;

      .card-content {
        opacity: 0;
        transition: opacity ease-in-out 0.35s 0.38s;
        transform-origin: left;
      }

      video {
        width: 45%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }

      a.player--video--btn {
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
    }
  }

  .scene3,
  .scene4 {
    .second-testimony {
      margin-top: 90px;
    }
  }

  .scene4 {
    background-color: #191919;
    background-image: url("../../assets/img/chapter2_slide_4.jpg");
    background-position: center;
    background-size: cover;

    .card {
      transform: scaleX(0);
      transition: transform ease-in-out 0.35s;
      transform-origin: left;

      .card-content {
        opacity: 0;
        transition: opacity ease-in-out 0.35s 0.38s;
        transform-origin: left;
      }

      p.card-type {
        font-size: 18px;
        color: $grey;
        font-family: $title;
        font-size: 18px;
        text-transform: uppercase;
        margin: 30px 30px 0;
      }

      p.card-contents {
        font-family: $content;
        color: $white;
        width: 70vw;
        vertical-align: top;
        margin: 20px 30px;
      }
    }
  }

  .scene6 {
    &--content {
      background-color: #191919;
      width: 100%;
      height: 100%;

      div {
        width: 100%;
        height: auto;

        img {
          position: absolute;
          top: 0;
          left: 0;
        }

        p {
          color: $white;
          position: absolute;
          bottom: 20%;
          transform: translateY(25%);
          left: 7%;
          width: 400px;
          text-shadow: 2px 2px 8px rgba(black, 0.7);
        }
      }

      &--money img,
      &--money p {
        opacity: 1;
        z-index: 20;
      }

      &--areas img,
      &--areas p,
      &--geographic img,
      &--geographic p,
      &--production img,
      &--production p,
      &--women img,
      &--women p {
        opacity: 0;
        z-index: 18;
        transition: opacity 0.3s ease-in-out;
      }

      &--areas.active-content img,
      &--areas.active-content p,
      &--geographic.active-content img,
      &--geographic.active-content p,
      &--production.active-content img,
      &--production.active-content p,
      &--women.active-content img,
      &--women.active-content p {
        opacity: 1;
        z-index: 25;
      }
    }

    &--nav {
      z-index: 100;
      position: absolute;
      left: 7%;
      bottom: 50%;
      transform: translateY(25%);
      font-family: $title;
      width: 150px;

      .money-title {
        transform: translateX(-10px);
        color: $red;
      }

      .money-title::after {
        opacity: 1;
      }

      &--title {
        padding: 5px;
        transition: all 0.15s ease-in-out;
        color: $white;
      }

      &--title::after {
        position: absolute;
        left: -8px;
        top: 10px;
        width: 3px;
        border-radius: 2px;
        height: 15px;
        background: $red;
        content: '';
        opacity: 0;
        transition: all 0.15s ease-in-out;
      }

      &--title:hover {
        cursor: pointer;
        transform: translateX(-10px);
        color: $red;
      }

      &--title:hover {}

      &--title:hover::after {
        opacity: 1;
      }
    }
  }

  .scene5 {
    background-image: url(../../assets/img/chap2_part4_fond.jpg);
    background-position: center;
    background-repeat: no-repeat;
    &--overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $black;
      opacity: 0.9;
      z-index: 2;
    }
    img {
      position: absolute;
      right: 30%;
      bottom: 60px;
      width: 500px;
      z-index: 10;
      opacity: 0.78;
    }

    div.container-quotes {
      width: 95vw;
      height: 70vh;
      margin: 20vh auto;
      position: relative;
      z-index: 20;

      img {
        position: absolute;
        top: -25%;
        left: 30%;
        width: 500px;
      }

      div.quotes-left {
        float: left;
        width: 30vw;
      }

      div.quotes-right {
        float: right;
        width: 35vw;
      }

      div.clear-both {
        clear: both;
      }

      span.player--video--title {
        font-family: $title;
        font-size: 20px;
        color: white;
        text-transform: uppercase;
      }

      p {
        font-family: $content;
        font-size: 16px;
        font-style: italic;
        color: $transparent-white;
        margin: 15px 0 100px;
      }

      div.quotes-right div.quote:last-child {
        margin-left: 80px;
      }
    }
  }

  .scene7 {
    background-color: #191919;
    background-image: url("../../assets/img/chapter2_slide_4.jpg");
    background-position: center;
    background-size: cover;

    p.davao-content {
      top: 30vh;
    }

    p.davao-subtitle {
      top: 40vh;
    }

    .card {
      transform: scaleX(0);
      transition: transform ease-in-out 0.35s;
      transform-origin: left;

      .card-content {
        opacity: 0;
        transition: opacity ease-in-out 0.35s 0.38s;
        transform-origin: left;
      }

      .card-contents {
        width: 65vw;
      }

      .testimony-quote {
        font-family: $content;
        font-size: 22px;
        color: white;
        font-style: italic;
        margin: 40px 20px;
      }
    }

    .player--video--btn {
      display: block;
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }

    p.content {
      margin-top: -50px;
    }
    @for $i from 1 through 3 {
      .testimony-#{$i} {
        margin-top: 80px * $i;
      }
    }
  }
}

div.card,
div.card-rd {
  background-color: black;
  position: absolute;
  top: 15vh;
  left: 7vw;
  width: 80vw;
  height: 70vh;
  margin: auto;
  z-index: 102;
  border-radius: 4px;

  a {
    font-size: 30px;
    color: $white;
    position: absolute;
    top: 20px;
    right: 30px;
  }

  p.card-subtitle,
  p.card-title {
    font-family: $title;
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    margin: 30px;
    display: block;
  }

  p.card-subtitle {
    font-size: 20px;
    color: $red;
    margin: -20px 30px;
  }

  div {
    p {
      display: inline-block;
    }

    p.card-type {
      font-size: 18px;
      color: $grey;
      font-family: $title;
      font-size: 18px;
      text-transform: uppercase;
      margin: 30px 30px 0;
    }

    p.card-contents {
      font-family: $content;
      color: $white;
      width: 400px;
      vertical-align: top;
      margin: 30px 30px 0 0;
    }
  }
}
// testimony

p.davao-title {
  z-index: 10;
  position: absolute;
  text-transform: uppercase;
  font-family: $title;
  color: $red;
  font-size: 50px;
  text-align: center;
  top: 30%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

p.davao-content,
p.davao-subtitle {
  position: absolute;
  z-index: 10;
  font-family: $content;
  color: $white;
  font-size: 16px;
  text-align: center;
  width: 60vw;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

div.testimony-button {
  position: absolute;
  top: 32vh;
  right: 50px;
  z-index: 110;
  width: 400px;
  height: 80px;
  cursor: pointer;

  img {
    width: 65px;
    height: 65px;
    border-radius: 100px;
    border: 5px solid white;
    z-index: 101;
    position: absolute;
    right: 0;
    top: 0;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.20);
  }

  span {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    background: $white;
    width: 300px;
    height: 65px;
    border-radius: 100px;
    padding: 5px 30px;
    opacity: 0;
    transform-origin: right;
    margin-right: 10px;
    transform: scaleX(0);
    transition: all ease-out 0.3s;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.20);

    p:first-child {
      font-family: $content;
      font-size: 13px;
      color: $black;
    }

    p:last-child {
      font-family: $title;
      font-size: 18px;
      text-transform: uppercase;
      color: $red;
    }
  }

  &:hover span {
    opacity: 1;
    transform: scaleX(1);
  }
}

.testimony {
  margin-top: 100px;
}

.testimony-active {
  transform: scaleX(1);
  opacity: 1;
}

// More informations
a.popup--btn{
  z-index:21;
}

div.more-infos {
  background-color: white;
  width: 40vw;
  height: 100vh;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 120;
  will-change: transform;
  transition: transform ease 0.38s;
  transform-origin: right;
  transform:translateX(40vw);

  div.more-infos-container {
    width: 100%;
    height: auto;
    padding: 0px 40px;
    a.close-card{
      font-size:35px;
      position: absolute;
      right:40px;
      top:30px;
      color:$black;
      transition: transform ease 0.3s;
      &:hover{
        transform: rotate(90deg);
      }
    }

    p.infos-subtitle,
    p.infos-title {
      font-family: "Fjalla One", sans-serif;
      font-size: 24px;
      color: $black;
      text-transform: uppercase;
      margin: 30px 0px;
    }

    p.infos-subtitle {
      font-size: 20px;
      color: #FE002A;
      margin: -20px 0px;
    }

    p.infos-subsubtitle {
      font-size: 16px;
      font-family: $content;
      margin: 15px 0px;
      color:$black
    }

    div.infos-line {
      width: 100%;
      margin: 40px 0px;
      height: 2px;
      background-color: $black;
    }

    p.infos {
      font-size: 14px;
      font-family: $content;
      color:$black;
    }
  }
}
.player--video--btn {
  position: relative;
  transition: all 0.3s cubic-bezier(.43,-0.83,.53,1.73);
}
.player--video--btn:hover {
  transform: scale(1.2);
}
svg.svg-pause,
svg.svg-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.svg-pause {
  display: none;
}

.player--video--btn {
  transition: all 0.3s cubic-bezier(.43,-0.83,.53,1.73);
}
.player--video--btn:hover {
  transform: scale(1.2);
}