.chapter4 {
  .scene1 {
    background-image: url(../../assets/img/chapter4_full.jpg);
  }
  .scene3 {
    background-image:url(../../assets/img/prison_Quezon.png);
    .card {
      transform: scaleX(0);
      transition: transform ease-in-out 0.35s;
      transform-origin: left;

      .card-content {
        opacity: 0;
        transition: opacity ease-in-out 0.35s 0.38s;
        transform-origin: left;
      }
    }
    .title {
      font-family: Lora-Regular;
      font-size: 18px;
      text-align: center;
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: 40px;
      position: absolute;
      left: 50%;
      top: 20%;
      transform: translate(-50%, 0%);
      height: 70%;
    }
    .content {
      width: 70vw;
      font-size: 18px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: #FFFFFF;
      text-align: center;
      font-family: $content;
      line-height: 2;
    }
    .content strong {
      font-size: 22px;
      font-family: $title;
      color: $red;
    }
    @for $i from 1 through 3 {
      .testimony-#{$i} {
        margin-top: 80px * $i;
      }
    }
  }
}
