.chapter1 {
  .scene1 {
    background-image: url(../../assets/img/chapter1_full.jpg);
  }
  .scene2 {
    background-color: #191919;
    &--center {
      position: absolute;
      left: 50%;
      top: 15%;
      transform: translate(-50%, 0%);
      height: 70%;
      &--svg {
        height: 100%;
        width: auto;
      }
    }
  }
  .scene3 {
    background-color: #191919;
    &--center {
      position: absolute;
      left: 50%;
      top: 15%;
      transform: translate(-50%, 0%);
      height: 70%;
      &--svg {
        height: 100%;
        width: auto;
      }
    }
  }
  .scene4 {
    background-color: #191919;
    background-image: url(../../assets/img/chapter1_slide_4.jpg);
    background-position: center;
    background-size: cover;
    &--group {
      z-index: 200;
      position: absolute;
      bottom: 14%;
      left: 10%;
      color: $white;
      width: 100%;
      &--content {
        display: inline-block;
        width: 35%;
        margin-right: 10%;
        &--h2 {
          margin-bottom: 10px;
          font-size: 18px;
          font-family: $title;
          text-transform: uppercase;
          color: $red;
        }
        &--p {
          font-size: 14px;
        }
      }
      .group2 {
        position: relative;
        top: -26px;
      }
    }
  }
  .scene5 {
    .category-active div {
      color: $red;
      transform: translateX(-6px);
    }
    .category-active img, .category-active p {
      display: inline-block;
    }
    background-color: #191919;
    &--card {
      background-color: $black;
      opacity: 0.7;
      position: relative;
      left: 90px;
      top: 135px;
      bottom: 10%;
      border-radius: 2px;
      padding: 30px 40px;
      width: 68%;
      font-family: $title;
      &--categories {
        color: $transparent-white;
        &--category {
          &--title {
            display: inline-block;
            padding: 15px 10px;
            transition: all 0.15s ease-in-out;
          }
          &--img {
            position: absolute;
            width: 80%;
            height: auto;
            bottom: -60px;
            left: 200px;
            border-radius: 1px;
            box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.12);
            display: none;
          }
          &--description {
            z-index: 200;
            position: absolute;
            width: 45%;
            height: auto;
            bottom: -50px;
            left: 230px;
            font-family: $content;
            font-size: 14px;
            color: $white;
            display: none;
          }
          &--title:hover {
            cursor: pointer;
            transform: translateX(-6px);
            color: $red;
          }
          &--title:hover + img {
            display: block;
          }
          &--title:hover + img + p {
            display: block;
          }
        }
      }
    }
  }
}