.mainHeader {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../../assets/img/thokhang_project_landing.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &--content {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &--center {
      z-index: 100;
      position: absolute;
      top: 50%;
      left: 50%;
      text-align: center;
      transform: translate(-50%, -50%);
      &--btn a {
        transform: translate(-50%, 0%);
        margin-top: 180px;
        padding: 15px 30px;
        border-radius: 4px;
        color: #fff;
        background: $red;
        text-transform: uppercase;
        position: absolute;
        transition: all 0.3s ease-in-out;
        box-shadow: 0px 0px 8px 1px #FE002A;
      }
      &--btn a:hover {
        background: darken($red, 10);
      }
      &--subtitle {
        font-size: 22px;
        font-weight: 100;
        text-transform: uppercase;
        margin-top: 100px;
        letter-spacing: 2px;
        color: #fff;
      }
    }
    &--back {
      position: absolute;
      top: -50px;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 20;
      background-image: url(../../assets/img/thokhang_project_text.png);
      background-position: center;
      background-size:contain;
      background-repeat: no-repeat;
    }
    &--front {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      z-index: 30;
      opacity: 0.8;
      background-image: url(../../assets/img/thokhang_project_top_layer.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}
