@import 'var';
@import 'fonts';
@import 'reset';

//partials
@import 'partials/navBar.scss';

//chapters
@import 'pages/home.scss';
@import 'pages/chapter1.scss';
@import 'pages/chapter2.scss';
@import 'pages/chapter3.scss';
@import 'pages/chapter4.scss';
@import 'pages/chapter5.scss';

body {
  position: relative;
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  background: black;
}

.chapter {
  position: relative;
  height: 100%;
  transition-duration: .5s;
  transition-property: transform;
  will-change: translate;
}

.scene {
  position: relative;
  height: 100%;
  float: left;
  &--active {
  }
  font-family: $content;
  font-weight: 400;
  line-height: 26px;
}

.scene--h1 {
  position: absolute;
  z-index: 200;
  top: 35px;
  left: 90px;
  font-family: $title;
  text-transform: uppercase;
  font-size: 20px;
  color: $transparent-white;
}

.scene--introduction {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  &--center {
    color: $white;
    z-index: 40;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    &--h1 {
      font-family: $title;
      text-transform: uppercase;
      font-size: 72px;
      color: $red;
      position: relative;
      text-align: center;
      width: 100%;
    }
    &--h1:after {
      content:'';
      width: 100px;
      height: 3px;
      background: $white;
      position: absolute;
      bottom: -50px;
      left: 50%;
      margin-left: -50px;
    }
    &--h2 {
      margin-bottom: 46px;
    }
    &--description {
      margin-top: 85px;
      color: $white;
    }
  }
}

.overlay {
  z-index: -10;
  background-color: $black;
  opacity: 0.7;
  width: 100%;
  height: 100%;
}

.logo {
  position: absolute;
  top: 25px;
  left: 30px;
  z-index: 100;
  width: 45px;
  height: 45px;
  &--img {
    width: 100%;
  }
}

//.slide-hover {
//  z-index: 400;
//}
//
//.slide-hover::after {
//  position: absolute;
//  content: '';
//  width: 0;
//  height: 10px;
//  background-color: rgba(255, 255, 255, 0.49);
//  top: 15px;
//  left: -5px;
//}
//
//.slide-hover:hover::after{
//  width: 60px;
//}
