@import 'var';
@import 'fonts';
@import 'reset';

//partials
@import 'partials/navBar.scss';

//chapters
@import 'pages/home.scss';
@import 'pages/chapter1.scss';
@import 'pages/chapter2.scss';
@import 'pages/chapter3.scss';
@import 'pages/chapter4.scss';
@import 'pages/chapter5.scss';

body {
  position: relative;
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  background: #000;
}

.chapter {
  position: relative;
  height: 100%;
  transition-property: transform;
  will-change: transform;
}

.scene {
  position: relative;
  height: 100%;
  float: left;
  overflow: hidden;
  opacity: 0;
  transition-duration: 2s;
  transition-delay: 1s;
  transition-property: opacity;
  will-change: opacity;
  &--active {
    transition-delay: 0s;
    opacity: 1;
    will-change: opacity;
  }
  font-family: $content;
  font-weight: 400;
  line-height: 26px;
}

.scene--h1 {
  position: absolute;
  z-index: 200;
  top: 35px;
  left: 90px;
  font-family: $title;
  text-transform: uppercase;
  font-size: 20px;
  color: $transparent-white;
}

.scene--introduction {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  &--center {
    color: $white;
    z-index: 40;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    &--h1 {
      font-family: $title;
      text-transform: uppercase;
      font-size: 72px;
      color: $red;
      position: relative;
      text-align: center;
      width: 100%;
    }
    &--h1:after {
      content:'';
      width: 100px;
      height: 3px;
      background: $white;
      position: absolute;
      bottom: -50px;
      left: 50%;
      margin-left: -50px;
    }
    &--h2 {
      margin-bottom: 46px;
    }
    &--description {
      margin-top: 85px;
      color: $white;
      font-size: 18px;
    }
  }
}

.overlay {
  z-index: -10;
  background-color: $black;
  opacity: 0.7;
  width: 100%;
  height: 100%;
}

.logo {
  position: absolute;
  top: 25px;
  left: 30px;
  z-index: 100;
  width: 45px;
  height: 45px;
  &--img {
    width: 100%;
  }
}


.scene--active {
  .animation--svg--scaley {
    transform: scaleY(1);
    transform-origin: bottom;
    animation: svgScaley 1s ease-in-out forwards;
    @keyframes svgScaley {
      0% {
        transform: scaleY(0);
      }
      100% {
        transform: scaleY(1);
      }
    }
  }
  .animation--svg--scalex {
    transform: scaleX(1);
    transform-origin: left;
    animation: svgScalex 1s ease-in-out forwards;
    @keyframes svgScalex {
      0% {
        transform: scaleX(0);
      }
      100% {
        transform: scaleX(1);
      }
    }
  }
  .svg-animation {
    stroke-dasharray: 1500;
    stroke-dashoffset: 1500;
    animation: draw 4s ease-in-out forwards;
    @keyframes draw {
      0% {
        stroke-dashoffset: 1500;
      }
      100% {
        stroke-dashoffset: 0;
      }
    }
  }
}

.slide-hover {
  z-index: 400;
}

.slide-hover:hover {
  cursor: pointer;
}

.slide-hover::after {
  position: absolute;
  content: '';
  width: 60px;
  height: 15px;
  background-color: $white;
  top: 10px;
  left: -6px;
  z-index: -1;
  transform-origin: top right;
  transform: scaleX(0);
  transition: transform 0.18s ease-in-out;
}

.slide-hover:hover::after{
  transform-origin: top left;
  transform: scaleX(1);
}
